{% extends "base.html" %}


{% block body_block %}
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Añade una tapa</h1>

        <form id="tapas_form" method="post" action="/rango/bar/{{bar_name_url}}/add_tapa/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Añadir la tapa" />
        </form>
    </body>

</html>

{% endblock %}
