{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Indic{% endblock %}
{% block body_block %}

		<script>
			$(function ajax() { 
				$("#btngr").click(function() {
					var fontSize = $(window).width()/80;
					$('body').css('font-size', fontSize);
	
					$(window).resize(function() {
						var fontSize = $(window).width()/50;
						$('body').css('font-size', fontSize);

					});
				});
				$("#btnmgr").click(function() {
					var fontSize = $(window).width()/70;
					$('body').css('font-size', fontSize);
	
					$(window).resize(function() {
						var fontSize = $(window).width()/50;
						$('body').css('font-size', fontSize);

					});
				});

				$("#btnnm").click(function() {
					var fontSize = $(window).width()/90;
					$('body').css('font-size', fontSize);
	
					$(window).resize(function() {
						var fontSize = $(window).width()/50;
						$('body').css('font-size', fontSize);

					});
				});

				$.ajax({					
					url: 'reclama_datos/',
					type: 'get',      
					datos: {'foo':'bar'},                 
					success: function(datos) {						
						Visualiza_datos(datos); 
					},
					failure: function(datos) { 
						alert('esto no vá');
					}
				});
	
				function Visualiza_datos (datos) {
					if(Object.keys(datos).length>0){
						nBares = [];
						nVisitas = [];
					
						  
						for(var bar in datos){
							nBares.push(bar);						
							nVisitas.push(datos[bar]);
						}
						$('#container').highcharts({
							chart: {
								type: 'bar'
							},
							title: {
								text: 'Visitas'
							},
							xAxis: {
								categories: nBares,
								title: {
						            text: null
						        }
							},
							yAxis: {
								title: {
									text: ''
								}
							},
							series: [{
								name: 'Número de visitas por bar',
								data: nVisitas
							},],
						});
					}else{
						container.style.display = 'none';
					}
		
				};

			});
		
		</script>


        <h1>Lista de bares</h1>

		{% if bares %}
				<ul>
					{% for bar in bares %}
					<li><a href="/rango/bar/{{ bar.slug }}">{{ bar.nombre }}</a></li>
					{% endfor %}
					</ul>
		{% else %}
				<strong>No hay bares disponibles.</strong><br>
		{% endif %}

		<script src="http://code.highcharts.com/highcharts.js"></script>
		<div id="container" style="height: 300px"></div>



	<input type='button' id='btngr' value='Letra grande' />
	<input type='button' id='btnmgr' value='Letra más grande' />
	<input type='button' id='btnnm' value='Letra normal' />










         
        <br><br><a href="/rango/about/">Acerca de</a><br />
       <!-- <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" /> <!-- New line -->
   
{% endblock %}
